.btn {
  padding: 12px 27px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  color: $color-white;
  background-color: $color-green-light;
  border: 1px solid $color-green-light;

  &:hover {
    border-color: $color-green-dark;
    background-color: $color-green-dark;
  }
}

.btn-primary-outlined {
  color: $color-green-light;
  border: 1px solid $color-green-light;
  background-color: $color-white;

  &:hover {
    color: $color-white;
    background-color: $color-green-light;
  }
}