.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 17px 0px;
  width: 80%;
  margin: 0 auto;

  @include mediaQuery(tab-port) {
    justify-content: space-between;
    width: 100%;
    padding: 17px 20px;
  }

  &__links {
    display: flex;
    gap: 30px;
    color: $color-dark-light;
    letter-spacing: .11px;
    font-size: 1.7rem;

    @include mediaQuery(tab-port) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    @include mediaQuery(tab-port) {
      display: none;
    }
  }
}